{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'apidata/index.css' %}">
    <title>Table</title>
</head>

<body>
    <div class="form">
        <input type="text" name="transaction_id" id="transaction_id" placeholder="transaction_id">
        <input type="text" name="api_type" id="api_type" placeholder="api_type">
        <input type="text" name="customer_id" id="customer_id" placeholder="customer_id">
        <input type="text" name="roster_sap_id" id="roster_sap_id" placeholder="roster_sap_id">
        <button type="submit" id="search-button" onclick="searchFunction()">Submit</button>
    </div>
    <table id="my-table">
        <tr>
            <th>Transaction Id</th>
            <th>API type</th>
            <th>Payload</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </table>

    <center id="pagination">

    </center>
</body>
<script>

    let myTable = document.getElementById('my-table')
    let header = `<tr>
                    <th>Transaction Id</th>
                    <th>API type</th>
                    <th>Payload</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>`

    // Pagination 
    let currPageNo = 1;
    let totalRowsOnPage = 10;
    function pagination(data, currPageNo, rows) {
        var trimStart = (currPageNo - 1) * rows
        var trimEnd = trimStart + rows
        var trimData = data.slice(trimStart, trimEnd)
        var pages = Math.ceil(data.length / rows)

        for (let i = 0; i < trimData.length; i++) {
            let row = trimData[i]

            let tableRow = `<tr>
                    <td>${row.transaction_id}</td>
                    <td>${row.api_type}</td>
                    <td>${row.request_payload}</td>
                    <td>${row.status}</td>
                    <td><button type="submit">Sync</button></td>
                </tr>`
            myTable.innerHTML += tableRow
        }

        var wrapper = document.getElementById('pagination');
        wrapper.innerHTML = "";

        if (currPageNo > 1) {
            wrapper.innerHTML += `<button value=${currPageNo - 1} class="page" onclick='pageButtons(${currPageNo - 1})'>${currPageNo - 1}</button>`
        }

        wrapper.innerHTML += `<button value=${currPageNo} class="page" onclick='pageButtons(${currPageNo})'>${currPageNo}</button>`

        if (currPageNo < pages) {
            wrapper.innerHTML += `<button value=${currPageNo + 1} class="page" onclick='pageButtons(${currPageNo + 1})'>${currPageNo + 1}</button>`
        }
    }

    // fetching data from api 
    let getDatas = async () => {
        let response = await fetch('http://127.0.0.1:8000/apiinfo')
        let jsonResponse = await response.json()

        pageData = pagination(jsonResponse, currPageNo, totalRowsOnPage)
        return jsonResponse
    }

    let jsonData = getDatas()


    // Onclick a page number this function will execute
    let pageButtons = async (page) => {
        let data = await jsonData

        currPageNo = page
        myTable.innerHTML = ""
        myTable.innerHTML += header
        pagination(data, currPageNo, totalRowsOnPage)
    }


    // filterring the data
    let searchFunction = async () => {
        let data = await jsonData
        // console.log(data)

        // Storing filtering key and value to be filtered
        let searchCondition
        let searchValue

        if (document.getElementById("transaction_id").value !== "") {
            searchCondition = "transaction_id"
            searchValue = document.getElementById("transaction_id").value
        }
        else if (document.getElementById("api_type").value !== "") {
            searchCondition = "api_type"
            searchValue = document.getElementById("api_type").value
        }
        else if (document.getElementById("customer_id").value !== "") {
            searchCondition = "customer_id"
            searchValue = document.getElementById("customer_id").value
        }
        else if (document.getElementById("roster_sap_id").value !== "") {
            searchCondition = "roster_sap_id"
            searchValue = document.getElementById("roster_sap_id").value
        }

        let filterData = data.filter(function (ele) {
            // Here I am also converting request_payload value from string to json
            ele["request_payload"] = JSON.parse(ele["request_payload"])
            
            // filtering data
            if (searchCondition == "customer_id") {
                // console.log(ele["request_payload"])
                return ele["request_payload"]["ZapiProdorderStartTrigger"]["CustomerReference"] == searchValue
            }
            else {
                return ele[searchCondition] == searchValue
            }
        });

        // Adding data to html
        myTable.innerHTML = ""
        myTable.innerHTML += header

        for (let i = 0; i < filterData.length; i++) {
            let row = filterData[i]

            let tableRow = `<tr>
                    <td>${row.transaction_id}</td>
                    <td>${row.api_type}</td>
                    <td>${JSON.stringify(row["request_payload"])}</td>
                    <td>${row.status}</td>
                    <td><button type="submit">Sync</button></td>
                </tr>`
            myTable.innerHTML += tableRow
        }

        var wrapper = document.getElementById('pagination');
        wrapper.innerHTML = "";
    }

</script>

</html>