.form {
    margin: auto;
    margin-top: 2rem;
    margin-left: 13.5%;
}


table {
    margin: auto;
    margin-top: 2rem;
    width: 60%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: gray;
    color: white;
}

center {
    margin: 1rem 0rem;
}

center button {
    padding: 0.5rem;
    border: 0;
}
