{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'assessment/index.css' %}">
    <title>Table</title>
</head>

<body>
    <div class="form">
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="transaction_id" placeholder="transaction_id">
            <input type="text" name="api_type" placeholder="api_type">
            <input type="text" name="customer_id" placeholder="customer_id">
            <input type="text" name="roster_sap_id" placeholder="roster_sap_id">
            <button type="submit">Submit</button>
        </form>
    </div>
    <table>
        <tr>
            <th>Transaction Id</th>
            <th>API type</th>
            <th>Payload</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        {% for document in page_obj %}
        <tr class="add-row">
            <td>{{ document.transaction_id }}</td>
            <td>{{ document.api_type }}</td>
            <td>{{ document.request_payload }}</td>
            <td>{{ document.status }}</td>
            <td><button type="submit">Sync</button></td>
        </tr>
        {% endfor %}
    </table>

    <center>
        {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a>
        {% endif %}
        <a href="?page={{page_obj.number}}">{{page_obj.number}}</a>
        {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a>
        {% endif %}
    </center>
</body>

</html>